* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #eee;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

input {
  outline: none;
}

.container {
  margin: 12px 280px;
}
